.logo {
  font-size: 50px;
}

.wtf {
  color: #ffa500;
  vertical-align: middle;
  margin-left: 17px;
}

.letter {
  color: #8c1aff;
  vertical-align: middle;
}

.cool {
  color: #FF0000;
  vertical-align: middle;
}

.awesome {
  color: #00cc00;
  vertical-align: middle;
}

.back-button {
  margin-left: 15px;
}

div {
  font-family: sans-serif;
}

h2 {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0px;
}

a .navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.all-proj-container {
  padding-left: 10px;
  padding-right: 10px;
}

.manage-list-container {
  padding-top: 10px;
}
