.logo {
  font-size: 50px;
  padding-left: 27px;
  text-shadow: -1.5px 1.5px 0.5px #424242;
  font-family: 'Nunito', sans-serif;
  padding-top: 18px;
  font-weight: bold;
}

.list-border {
  border: solid 2px #eee;
  border-radius: 3px;
}

.letter-width {
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.nav-not-react {
  background-color: #00BFA5;
  border: solid #26A69A;
}

.wtf {
  color: #FF9800;
  vertical-align: middle;
}

.letter {
  color: #651FFF;
  vertical-align: middle;
}

.cool {
  color: #FF0000;
  vertical-align: middle;
}

.awesome {
  color: #C6FF00;
  vertical-align: middle;
}

.back-button {
  margin-left: 15px;
}

div {
  font-family: sans-serif;
}

h2 {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0px;
}

a .navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.manage-list-container {
  padding-top: 10px;
}

.new-proj-container {
  margin: 20px;
}

#red {
  color: red;
}
