body {
  background-color: white;
}

.label-white {
  color: white;
}

.manage-background {
  background-color: #01579B;
  border-radius: 7px;
}

.vote-title {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.vote-count {
  color: red;
  border: red 2px solid;
  border-radius: 5px;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 5%;
}

.vote-count-ended {
  margin-top: 7.5%;
  color: #616161;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  font-weight: bolder;
}

.vote-owner {
  color: blue;
}

.vote-list {
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding-left: 10%
}

.vote-left {
  text-align: center;
  padding-left: 0%;
  width: 50%;
}

a {
  text-decoration: none !important;
}

.pj-title {
  color: black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.search {
  margin-left: -27%;
  margin-right: 25%;
}

.input {
  transition: 0.3s;
}

.input:hover {
  width: 150%;
}

.team {
  margin-left: 35%;
}

.danger-label {
  color: red;
  font-family: 'Roboto', sans-serif;
}

.danger {
  color: red;
  border: red 2px solid;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
}

.danger-end {
  color: #616161;
  border: #616161 2px solid;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
}

.centify {
  text-align: center;
}

.manage-list {
  text-align: left;
  width: 70%;
  margin-left: 15%;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.size {
  width: 96%;
  margin-left: 2%;
}

.status-bar {
  text-align: center;
}

.deadline {
  color: red;
  text-align: center;
  font-size: 20px;
  margin-top: 0.8%;
}

.logo {
  font-size: 50px;
  padding-left: 17%;
  text-shadow: -3px 3px 0.5px black;
  font-weight: bold;
  padding-top: 7%;
}

.noti-center {
  margin-left: 150px;
}

.noti-div {
  text-align: center;
  width: 42%;
}

.noti-label {
  vertical-align: middle;
  border: 2px #ff3333 solid;
  text-align: center;
  border-radius: 5px;
  width: 70%;
  color: #ff3333;
}

.list-border {
  border: solid 2px #D32F2F;
  border-radius: 7px;
}

.letter-width {
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.nav-not-react {
  background-color: #303030;
  border: solid #303030;
}

.wtf {
  color: #FF9100;
  vertical-align: middle;
}

.letter {
  color: #00b0ff;
  vertical-align: middle;
}

.cool {
  color: #FF1744;
  vertical-align: middle;
}

.awesome {
  color: #76ff03;
  vertical-align: middle;
}

.back-button {
  margin-left: 15px;
}

div {
  font-family: 'Averia Sans Libre', san-serif;
  // font-family: 'Sniglet', cursive;
  // font-family: 'Cabin Sketch', cursive;
  // font-family: sans-serif;
}

h2 {
  margin: 0;
}

p {
  text-align: left;
}

.container {
  width: 100%;
  padding: 0px;
}

a .navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.manage-list-container {
  padding-top: 10px;
}

.full-page-container {
  margin: 20px;
}

.btn-shadow {
  transition: 0.3s;
}

.btn-shadow:hover {
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.15), 0 6px 10px 0 rgba(0,0,0,0.15);
}

textarea {
  resize: vertical;
}

.h4-left {
  text-align: left;
}

#nav-simple-team-label {
  padding: 4px 7px;
  color: #eee;
  font-size: 18px;
  border: 2px #eee solid;
  border-radius: 5px;
}

.manage-panel {
  border-radius: 9px;
  margin-top: 2%;
  margin-bottom: 2%;
}
